{% extends 'base.html' %}

{% block title %}Inbox{% endblock %}

{% block content %}
<h1>Inbox</h1>
{% if messages %}
    <ul>
        {% for item_name, msgs in messages.items() %}
        <li>
            <strong>{{ item_name }}</strong>
            <ul>
                {% for msg in msgs %}
                <li>From: {{ msg.from }}</li>
                <li>To: {{ msg.to }}</li>
                <li>Message: {{ msg.text }}</li>
                <hr>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No messages.</p>
{% endif %}
{% endblock %}
